body {
  margin: 0;
  font-size: 15px;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
input,
textarea,
input:focus,
textarea:focus {
  border: none;
  outline: none;
}
a,
a:hover {
  text-decoration: none;
}
.container {
  max-width: 1255px;
}
.primary-btn {
  font-size: 16px;
  letter-spacing: -0.005em;
  padding:8px 22px;
  display: inline-block;
  color: #23262f;
  background: #f5c448;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 9;
  border:1px solid transparent;
  border-radius:5px;
}
.primary-btn-bg-transparent{
  background-color: transparent;
  border-color:#fff;
  color:#fff;
}
.primary-btn-bg-transparent:hover{
  color:#111;
}
.primary-btn::after {
	content: "";
	position: absolute;
	left:-100%;
	top: 0;
	height: 100%;
	width: 100%;
	transition: 0.5s;
	background-color: white;
	z-index: -2;
}
.primary-btn:hover:after{
  left: 0;
}
h2{
  font-size: 50px;
  line-height: 64px;
  color:#fff;
  font-weight: 600;
}
h2 span{
  color: #F5C448;
}
p{
font-size: 16px;
line-height: 30px;
}
/* start header css */
.header-area {
	background-color: #111111;
	padding: 10px 0;
}
.menu-bg {
	position: sticky;
	top: 0;
	background-color: #282626;
}
.nav-rounded{
  background: #FFFFFF1A;
  border-radius: 35px;
  padding: 5px 25px;
}
 .navbar-nav{
  gap: 20px;
 }
 .country-menu{
  right: 0 !important;
 }
 .country-menu.dropdown-menu[data-bs-popper] {
	left: inherit;
}
.country-menu-parent .nav-link:after{
  color: white;
  font-size: 18px;
}
.dropdown-item img{
  max-width: 30px;
  width: 100%;
}
 
.dropdown-item span{
  color: #111;
  padding-left: 5px;
  font-weight: 600;
  font-size: 15px;
}
.navbar-nav  li a{
  color:#fff !important;
  font-weight: 600;
}
li.nav-item.dropdown li a {
	color: #000 !important;
  font-weight: 400;
}
.navbar-nav  li a:hover{
  color:#F5C448 !important;
}
.navbar-toggler{
  background-color:#F5C448
  ;
  margin-left: 10px;
}
 .mobile-view{
  display: none;
 }
.navbar-toggler.icon {
	padding: 6px 10px;
}
.navbar-toggler span i{
  color: white;
  font-size: 30px;
}
.header-right ul{
  gap:20px
}
.navbar-brand img{
  max-width: 180px;
  width: 100%;
}
 
.dropdown-item i{
  font-size: 14px;
  color:#000;
}
.dropdown-menu{
  background-color: #F5C448;;
}
.navbar .container-fluid{
  padding-left: 0;
  padding-right: 0;
}
/* end header */
.hero-main-area {
	background-color: #111111;
	position: relative;
}
.hero-area-thumnails {
	position: absolute;
	right: 0;
	bottom: 0;
}
.btn-group ul{
  gap: 20px;
}
.hero-area-content{
  position: relative;
  z-index: 9;
  padding-top: 170px;
	padding-bottom: 235px;
}
.hero-area-content p{
  color:#fff;
  margin-top:15px;
  margin-bottom:40px;
}
.hero-area-thumnails img{
  width: 100%;
}
 .hero-video-area{
  padding: 60px 0;
 }
.video-container video{
  border-radius: 10px;
  width: 100%;
  border: 10px solid #F5C448;
}

/* extra css */
.cursor {
  font-weight: bold;
  animation: blink 0.7s step-end infinite;
}
/* Blinking cursor animation */
@keyframes blink {
  50% {
      opacity: 0;
  }
}
#typed-text{
  min-height: 30px;
  display: inline-block;
}
.dropdown-menu {
  animation: 0.5s animationadd;
}

@keyframes animationadd {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}
 